* {
    margin: 0;
    box-sizing: border-box;
   
}
img {
    max-width: 100%;
}

body {
    background-color: #050505;
}

p, li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.puffin-font {
    font-family: puffin-arcade-nerf, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #87CC42;
    letter-spacing: 4px;
    font-size: 40px;
}

.logo {
    position: relative;
    height: 100px;
    z-index: 100;
}

.nav-icon {
    height: 25px;
}

.user-image {
    height: 40px;
}

.big-logo {
    width: 350px;
}

.header1 {
    position: fixed;
    background-color: black;
    border: 3px solid #73AD21;

    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

/*Nav position*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

/* Nav ul position */
.nav-links{
    flex: 1;
    text-align: right;
}
/* Styling of individual links */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* Styling of link text */
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}


/* Frontpage title */
.frontpage{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: -1px 0 black, 0 -1px black;
    z-index: 80;
}

.frontpage .neolimerh2{
    font-size: 60px;
}

.check-it-out {
    display: inline-block;
    color: white;
    border: 1px solid #7FFF00;
    padding: 12px 25px;
    background-color: black;
    position: relative;
    cursor: pointer;
}

.check-it-out:hover{
    background-color: #090909;
    transition: 0.5s;
}

#video {
    position: relative;
    top: 0;
    right: 0px;
    left: 0px;
    bottom: 0px;
    max-width: 100%;
    display: block;
}

/* Product section */
.products {
    position: relative;
    border: 3px solid #73AD21;
    
}

.div-products {
    
}

@media screen and (max-width: 400px) {
    header nav {
        height: 131px;
    }
    header ul {
        display: block;
    }
    header li {
        display: inline;
    }}
