/* André er smuk */

* {
    margin: 0;
    box-sizing: border-box;
   
}
img {
    max-width: 100%;
}

body {
    background-color: #050505;
}

.puffin-font {
    font-family: puffin-arcade-nerf, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #87CC42;
    letter-spacing: 4px;
    font-size: 40px;
}

p, li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    font-size: 20px;
}

/*----------------Header---------------*/
.header {
    position: fixed;
    background-color: black;
    border: 3px solid #73AD21;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;     /* index 100 */
}

/* Nav images */
.logo {
    position: relative;
    height: 100px;
    z-index: 100;    /* index 100 */
}

.nav-icon {
    height: 25px;
}

.user-image {
    height: 40px;
}

.nav-spacing {
    padding: 0 0 0 50px;
}

/* Nav bar */
nav{
    display: flex;
    padding: 10px 6%;
    justify-content: space-between;
    align-items: center;
    
}



/* Nav ul position */
.nav-links{
    flex: 1;
    text-align: right;
    
}
/* Styling of individual links */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* Styling of link text */
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}


/*---------------Frontpage---------------*/
.frontpage{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: -3px 0 black, 0 -1px black;
    z-index: 80;      /* index 80 */
}

.frontpage-h2 {
    font-size: 45px;
    padding: 120px 0 0 0;
}

.neolimerh2{
    color: white;
    font-size: 120px;
    padding: 5px;
    letter-spacing: 10px;
}

/* Frontpage background video */
#video {
    position: relative;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    display: block;
    z-index: 1;       /* index 1 */
    filter: brightness(65%);
}

/* Frontpage "button" */
.frontpage-button {
    position: relative;
    display: inline-block;
    color: white;
    border: 1px solid #7FFF00;
    padding: 12px 25px;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

.frontpage-button:hover{
    background-color: #090909;
    transition: 0.5s;
}

.div-button { /* Check it out button */
    padding: 50px;
}

/*----------------Products----------------*/
.products {
    position: relative;
    border: 3px solid #73AD21;
    z-index: 70;    /* index 70 */
    background-color: #050505;
}

.product-heading {
    text-align: center;
    padding: 50px;
}

.big-logo {
    width: 300px;
    display: block;
}

.products-div {
    display: flex;
    align-items: center;
}




.page {
    display: none;
    }

.grid_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid_2cont{
display: grid;
grid-gap:10px;
padding: 10px;

}

.item_1{
    grid-column: 2 ;
    grid-row: 1;

}
.item_2{
    grid-column: 1 ;
    grid-row: 2;

}.item_3{
    grid-column: 2 ;
    grid-row: 2;

}.item_4{
    grid-column: 3 ;
    grid-row: 2;

}



@media screen and (max-width: 1600px) {
    .header {
        background-color: red;
    }
}

@media screen and (max-width: 1280px) {
    .header {
        background-color: red;
        height: 100px;
    }

    .sign-in {
        display: none;
    }

    .user-image {
        height: 30px;
        padding: 0 0 0 10px;
    }

    .logo {
        height: 80px;
    }

    .nav-links ul li a{
        font-size: 18px;
    }

    .frontpage-h2 {
        font-size: 35px;
        padding: 100px 0 0 0;
    }

}

@media screen and (max-width: 414px) {
    .header {
        background-color: red;
    }
}

@media screen and (max-width: 390px) {
    .header {
        background-color: red;
    }
}

footer {
    background-color: #73AD21;
}